<div class="container text-center">
  <div class="row">
<div class="center-block mx-auto col-6">
<h2 class="p-3 bg-info text-white border-info rounded-pill">投稿一覧</h2>

<table class="table table-borderless">
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post.id) %></td>
      <td><%= link_to '編集', edit_post_path(post.id), class: "btn btn-success" %></td>
      <td><%= link_to '削除', post_path(post.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
</div>